.messages-container {
    width: 70%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.messages-title {
    border-radius: 3px;
    padding: 6px;
    font-size: 30px;
    background-image: linear-gradient(rgb(0, 115, 255), rgb(195, 243, 252));
    width: fit-content;
}

.card {
    width: 100%;
}