.messages-container {
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.messages-title {
    border-radius: 3px;
    padding: 6px;
    font-size: 30px;
    background-image: linear-gradient(rgb(0, 115, 255), rgb(195, 243, 252));
    width: fit-content;
}

.card {
    width: 100%;
}

.message-text {
    font-size: 16px;
    font-family: Calibri;
}

.message-translated, .message-datetime {
    font-size: 13px;
    font-family: Calibri;
    justify-content: center;
    display: flex;
}

.message-metadata {
    width: 50%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-evenly;
}